
#register_guard form{
display:flex;
flex-direction: column;
justify-content:center;

}

.details .btns{
    margin:2rem 0;
}



#back {
    background-color: #6c757d;
}

#back:hover {
    background-color: #565e64;
}

#checking-container{
    display:flex;
    flex-direction:column;

}
.container#guardInfo{
    box-sizing: border-box;
    padding:32px 16px;
}
#guardInfo form{
    width:70%;
    height:80%;
}

.container.guard-info,.container.student-info {
    padding:16px 64px;
}
