* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container.alert {
    display:flex;
    flex-direction:column;
 }
 
 .container.alert h1 {
     font-size: 24px;
     color: #f11717;
     text-align: center;
 }
 
 .pc-info {
     margin-top: 15px;
 }
 
 .pc-info p {
     font-size: 18px;
     line-height: 1.5;
     color: #555;
 }
 
 .pc-image {
     display: block;
     max-width:250px;
     height: auto;
     margin: 15px auto;
 }
 
 figcaption {
     text-align: center;
     font-style: italic;
     color: #777;
     margin-top: 5px;
 }

 #alert h1{
    font-size: 1.25rem;
    color: red;
    letter-spacing: 1.5px;
}

.notification{
    margin-left:5px;
    color:white;
    font-size:1rem;
    width:20px;
    height:25px;
    border-radius: 50%;
    background-color:red;
    text-align:center;
}